@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Миксин adaptiv-font*/
/*--------------------*/
/*Ширина полотна макета*/
.label-structure {
  position: relative;
  color: #8643DC;
  line-height: normal;
  font-weight: 400;
}

@media (max-width: 767px) {
  .label-structure {
    font-size: calc(15px + 5.1* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .label-structure {
    font-size: calc(15px + 3 * (100vw / 1235));
  }
}

.label-structure::after {
  content: "";
  background-color: #8643DC;
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: -10px;
  left: 0;
}

.title-structure {
  color: #25202F;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 767px) {
  .title-structure {
    font-size: calc(26px + 17* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .title-structure {
    font-size: calc(26px + 10 * (100vw / 1235));
  }
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1080px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._lock {
  overflow: hidden;
}

.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 98px;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  margin-left: 108px;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  margin: 0px 0px 0px 35px;
}

.menu__link {
  color: #7E7F86;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.menu__link:hover {
  color: #25202F;
}

@media (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}

@media (max-width: 991.98px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    background-color: #25202F;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
    background-color: #fff;
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
    background-color: #fff;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 130px 30px 30px 30px;
    -webkit-transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 98px;
    background-color: #ffffff;
    z-index: 2;
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    background-color: #212121;
  }
  .menu__list > li {
    text-align: center;
    margin: 0 0 40px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 38px;
    line-height: calc(42 / 34 * 100%);
  }
}

.about {
  overflow: hidden;
  position: relative;
  padding: 0px 0;
}

@media (max-width: 1029.98px) {
  .about {
    padding: 70px 0 50px;
  }
}

@media (max-width: 991.98px) {
  .about {
    padding: 100px 0 50px;
  }
}

@media (max-width: 479.98px) {
  .about {
    padding: 120px 0 50px;
  }
}

@media (min-width: 992px) {
  .about {
    min-height: 100vh;
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about__body {
  padding: 45px 0px;
  padding-right: 10px;
}

@media (max-width: 767.98px) {
  .about__body {
    text-align: center;
  }
}

.about__title {
  color: #25202F;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .about__title {
    font-size: calc(45px + 25.5* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .about__title {
    font-size: calc(45px + 15 * (100vw / 1235));
  }
}

.about__title span {
  color: #666;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}

.about__subtitle {
  color: #25202F;
  font-weight: 400;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .about__subtitle {
    font-size: calc(17px + 11.9* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .about__subtitle {
    font-size: calc(17px + 7 * (100vw / 1235));
  }
}

.about__button {
  border-radius: 100px;
  background-color: #8643DC;
  border: 2px solid #8643DC;
  padding: 13px 47px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.about__button:hover {
  border: 2px solid #8643DC;
  background-color: transparent;
  color: #8643DC;
}

.about__img {
  position: relative;
}

.about__img img {
  max-width: 100%;
  position: relative;
  z-index: 13;
}

.about__img img:last-child {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

.about__img img:last-child img {
  max-width: 100%;
}

@media (max-width: 1029.98px) {
  .about__img {
    z-index: 1;
  }
}

.parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.parallax__item img {
  max-width: 100%;
}

.parallax__item_1 {
  top: 40%;
  left: 90%;
}

.parallax__item_2 {
  top: 60%;
  left: 98%;
}

.parallax__item_3 {
  top: 20%;
  left: 77%;
}

.parallax__item_4 {
  top: 88%;
  left: 77%;
}

.parallax__item_5 {
  top: 80%;
  left: 55%;
}

.parallax__item_6 {
  top: 30%;
  left: 50%;
}

@media (max-width: 767.98px) {
  .parallax__item {
    display: none;
  }
}

.services {
  padding: 20px 0 100px 0;
}

.services__label {
  margin-bottom: 27px;
}

.services__title {
  max-width: 246px;
  margin-bottom: 50px;
}

@media (max-width: 767.98px) {
  .services__title {
    margin-bottom: 30px;
  }
}

.column-services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.333%)[3];
      grid-template-columns: repeat(3, 33.333%);
  margin: 0 -15px;
}

@media (max-width: 767.98px) {
  .column-services {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    row-gap: 15px;
  }
}

@media (max-width: 479.98px) {
  .column-services {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

.column-services__item {
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 62px 1fr;
      grid-template-columns: 62px 1fr;
  -ms-grid-rows: 65px 1fr;
      grid-template-rows: 65px 1fr;
      grid-template-areas: "image title" "text-area text-area";
}

.column-services__item:first-child svg {
  left: 21.5px;
}

@media (max-width: 767.98px) {
  .column-services__item:last-child {
    grid-column: span 2;
  }
}

@media (max-width: 479.98px) {
  .column-services__item:last-child {
    grid-column: span 1;
  }
}

.column-services__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  position: relative;
}

.column-services__img svg {
  position: relative;
  top: 17px;
  left: 17px;
  z-index: 2;
}

.column-services__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 5px;
  -webkit-transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.column-services__img img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.column-services__title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #25202F;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 767px) {
  .column-services__title {
    font-size: calc(18px + 10.2* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .column-services__title {
    font-size: calc(18px + 6 * (100vw / 1235));
  }
}

.column-services__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text-area;
  padding-top: 21px;
  color: #47444E;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

@media (max-width: 767px) {
  .column-services__text {
    font-size: calc(13px + 5.1* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .column-services__text {
    font-size: calc(13px + 3 * (100vw / 1235));
  }
}

.portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.14)), color-stop(10%, rgba(187, 133, 255, 0.1)), color-stop(90%, rgba(255, 177, 222, 0.1)), to(rgba(255, 255, 255, 0.14)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, rgba(187, 133, 255, 0.1) 10%, rgba(255, 177, 222, 0.1) 90%, rgba(255, 255, 255, 0.14) 100%);
  padding: 50px 0 68px 0;
}

.portfolio__label {
  margin-bottom: 27px;
}

.portfolio__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.portfolio__title {
  max-width: 204px;
}

.portfolio__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #25202F;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-right: 30px;
}

@media (max-width: 767px) {
  .portfolio__button {
    font-size: calc(18px + 10.2* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .portfolio__button {
    font-size: calc(18px + 6 * (100vw / 1235));
  }
}

.portfolio__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/portfolio/arrow-right.svg") center right no-repeat;
}

@media (max-width: 360.98px) {
  .portfolio__button {
    padding-right: 15px;
  }
}

.portfolio__button:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.portfolio__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 767.98px) {
  .portfolio__images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(220, 192, 255, 0.3);
          box-shadow: 0px 20px 50px 0px rgba(220, 192, 255, 0.3);
}

.portfolio__item img {
  max-width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.portfolio__item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 767.98px) {
  .portfolio__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.clients {
  padding: 100px 0;
}

.clients__label {
  margin-bottom: 27px;
}

.clients__title {
  margin-bottom: 44px;
  max-width: 144px;
}

.clients__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 30px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

@media (max-width: 1079.98px) {
  .clients__images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__images a:first-child {
  border-radius: 10px;
  border: 1px solid #ffd1e2;
  background: #FFF6FA;
  -webkit-box-shadow: 0px 20px 50px 0px #ffd7e966;
          box-shadow: 0px 20px 50px 0px #ffd7e966;
}

.clients__images a:nth-child(2) {
  border-radius: 10px;
  border: 1px solid #a9ffce;
  background: #EDFFF5;
  -webkit-box-shadow: 0px 20px 50px 0px #bcffdb5e;
          box-shadow: 0px 20px 50px 0px #bcffdb5e;
}

.clients__images a:nth-child(3) {
  border-radius: 10px;
  border: 1px solid #b2e8ff;
  background: #F5FCFF;
  -webkit-box-shadow: 0px 20px 50px 0px #cef2ff57;
          box-shadow: 0px 20px 50px 0px #cef2ff57;
}

.clients__images a:nth-child(4) {
  border-radius: 10px;
  border: 1px solid #ffe3a7;
  background: #FFFBF2;
  -webkit-box-shadow: 0px 20px 50px 0px #ffe9bc5c;
          box-shadow: 0px 20px 50px 0px #ffe9bc5c;
}

.clients__images a:last-child {
  border-radius: 10px;
  border: 1px solid #c9ffa4;
  background: #F4FFED;
  -webkit-box-shadow: 0px 20px 50px 0px #d3ffb55d;
          box-shadow: 0px 20px 50px 0px #d3ffb55d;
}

.clients__item {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  max-width: 170px;
  padding: 33px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.clients__item img {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.clients__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.clients__item:hover img {
  -webkit-transform: rotate3d(0, 1, 1, 360deg);
          transform: rotate3d(0, 1, 1, 360deg);
}

.clients__text {
  color: #000;
  font-weight: 500;
  line-height: normal;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .clients__text {
    font-size: calc(16px + 3.4* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .clients__text {
    font-size: calc(16px + 2 * (100vw / 1235));
  }
}

.testimonials {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.14)), color-stop(10%, rgba(203, 163, 255, 0.2)), color-stop(90%, rgba(197, 255, 176, 0.2)), to(rgba(255, 255, 255, 0.14)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, rgba(203, 163, 255, 0.2) 10%, rgba(197, 255, 176, 0.2) 90%, rgba(255, 255, 255, 0.14) 100%);
  padding: 50px 0 67px 0;
}

.testimonials__container {
  position: relative;
}

.testimonials__label {
  margin-bottom: 27px;
}

.testimonials__title {
  margin-bottom: 25px;
  max-width: 220px;
}

.testimonials__swiper {
  text-align: center;
}

.testimonials__absolute-left::before, .testimonials__absolute-left::after {
  content: "";
  position: absolute;
  -webkit-filter: blur(1.1px);
          filter: blur(1.1px);
}

@media (max-width: 767.98px) {
  .testimonials__absolute-left::before, .testimonials__absolute-left::after {
    display: none;
  }
}

.testimonials__absolute-left::before {
  width: 70px;
  height: 70px;
  top: 42%;
  left: 5%;
  background: url("../img/testimonials/left-top.png") center 100% no-repeat;
  border-radius: 15px;
}

.testimonials__absolute-left::after {
  width: 60px;
  height: 60px;
  top: 92%;
  left: 19%;
  background: url("../img/testimonials/left-bottom.png") center 100% no-repeat;
  border-radius: 15px;
}

.testimonials__absolute-right::before, .testimonials__absolute-right::after {
  content: "";
  position: absolute;
  -webkit-filter: blur(1.1px);
          filter: blur(1.1px);
}

@media (max-width: 767.98px) {
  .testimonials__absolute-right::before, .testimonials__absolute-right::after {
    display: none;
  }
}

.testimonials__absolute-right::before {
  width: 70px;
  height: 70px;
  top: 45%;
  right: 5%;
  background: url("../img/testimonials/right-top.png") center 100% no-repeat;
  border-radius: 15px;
}

.testimonials__absolute-right::after {
  width: 60px;
  height: 60px;
  top: 96%;
  right: 19%;
  background: url("../img/testimonials/right-bottom.png") center 100% no-repeat;
  border-radius: 15px;
}

.swiper-slide__img {
  margin-bottom: 20px;
}

.swiper-slide__text {
  color: #636066;
  font-weight: 500;
  line-height: 200%;
  max-width: 570px;
  margin: 0 auto 40px;
}

@media (max-width: 767px) {
  .swiper-slide__text {
    font-size: calc(14px + 3.4* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .swiper-slide__text {
    font-size: calc(14px + 2 * (100vw / 1235));
  }
}

.swiper-slide__author img {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.swiper-slide__name {
  color: #000;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .swiper-slide__name {
    font-size: calc(17px + 5.1* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .swiper-slide__name {
    font-size: calc(17px + 3 * (100vw / 1235));
  }
}

.swiper-slide__work {
  color: #000;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 46px;
}

@media (max-width: 767px) {
  .swiper-slide__work {
    font-size: calc(14px + 3.4* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .swiper-slide__work {
    font-size: calc(14px + 2 * (100vw / 1235));
  }
}

.testimonials__swiper .swiper-pagination-bullet {
  background-color: #8643DC;
  width: 10px;
  height: 10px;
}

.blog {
  padding: 100px 0;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .blog__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.blog__titles {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

@media (max-width: 991.98px) {
  .blog__titles {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 20px;
  }
}

.blog__label {
  margin-bottom: 27px;
}

.blog__title {
  max-width: 169px;
}

.blog__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  max-width: 920px;
}

@media (max-width: 991.98px) {
  .blog__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blog__item {
  height: 350px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

@media (min-width: 992px) {
  .blog__item:hover > div:first-child {
    -webkit-transform: rotate(-90deg) translate(18.5%, 13.5%);
            transform: rotate(-90deg) translate(18.5%, 13.5%);
    padding-bottom: 35%;
  }
}

@media (min-width: 992px) and (max-width: 991.98px) {
  .blog__item:hover > div:first-child {
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .blog__item:hover *::after {
    background: none;
  }
  .blog__item:hover > div:last-child {
    color: #000;
    position: relative;
    z-index: 2;
    padding: 0;
    margin-top: 20px;
  }
}

@media (min-width: 992px) and (max-width: 991.98px) {
  .blog__item:hover > div:last-child {
    margin-top: -15px;
  }
}

@media (min-width: 992px) {
  .blog__item:hover > div:last-child div:first-child {
    color: #8643DC;
    padding-top: 20px;
  }
}

.blog__img {
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  height: 350px;
  width: 255px;
  position: relative;
}

.blog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), to(#25202F));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #25202F 100%);
}

.blog__text-block {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  position: relative;
  z-index: 2;
  padding: 0 38px 30px 20px;
  color: #FFF;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.blog__date {
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2px;
}

@media (max-width: 767px) {
  .blog__date {
    font-size: calc(14px + 3.4* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .blog__date {
    font-size: calc(14px + 2 * (100vw / 1235));
  }
}

.blog__text {
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 767px) {
  .blog__text {
    font-size: calc(17px + 5.1* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .blog__text {
    font-size: calc(17px + 3 * (100vw / 1235));
  }
}

.contact-me {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(15%, rgba(187, 133, 255, 0.17)), to(rgba(255, 244, 251, 0.2)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(187, 133, 255, 0.17) 15%, rgba(255, 244, 251, 0.2) 100%);
  padding: 50px 0 100px 0;
}

@media (max-width: 479.98px) {
  .contact-me {
    padding: 50px 0 50px 0;
  }
}

.contact-me__label {
  margin-bottom: 32px;
}

.contact-me__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 767.98px) {
  .contact-me__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-me__title {
  max-width: 515px;
}

.contact-me__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #8643DC;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

@media (max-width: 767px) {
  .contact-me__link {
    font-size: calc(18px + 10.2* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .contact-me__link {
    font-size: calc(18px + 6 * (100vw / 1235));
  }
}

.contact-me__link:hover {
  text-decoration: underline;
}

.contact-me__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-me__contacts input {
  color: #000;
  background: transparent;
  font-weight: 400;
  line-height: normal;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  border-bottom: 1px solid #DAD2E3;
  padding-bottom: 12px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .contact-me__contacts input {
    font-size: calc(17px + 5.1* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .contact-me__contacts input {
    font-size: calc(17px + 3 * (100vw / 1235));
  }
}

.contact-me__contacts input:last-child {
  margin-bottom: 30px;
}

.contact-me__contacts input::-webkit-input-placeholder {
  color: #A8A0B0;
}

.contact-me__contacts input:-ms-input-placeholder {
  color: #A8A0B0;
}

.contact-me__contacts input::-ms-input-placeholder {
  color: #A8A0B0;
}

.contact-me__contacts input::placeholder {
  color: #A8A0B0;
}

.contact-me__about {
  min-width: 210px;
}

.contact-me__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479.98px) {
  .contact-me__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-me__quote {
  display: inline-block;
  border-radius: 100px;
  background: #8643DC;
  border: 2px solid #8643DC;
  min-width: 200px;
  padding: 17px 48px;
  color: #FFF;
  text-align: center;
  font-weight: 500;
  line-height: normal;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

@media (max-width: 767px) {
  .contact-me__quote {
    font-size: calc(16px + 3.4* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .contact-me__quote {
    font-size: calc(16px + 2 * (100vw / 1235));
  }
}

.contact-me__quote:hover {
  color: #8643DC;
  background-color: transparent;
}

.contact-me__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.contact-me__wrapper-for-file {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 18px;
}

.contact-me__file {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  color: transparent;
  opacity: 0;
  z-index: 2;
}

.contact-me__attach {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/contact-me/attach.svg") 0 0 no-repeat;
}

.contact-me__arrow {
  width: 30px;
  height: 30px;
  background: url("../img/contact-me/arr.svg") center no-repeat;
}

.footer {
  padding-bottom: 65px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 33px;
}

@media (max-width: 767.98px) {
  .footer__container {
    row-gap: 23px;
  }
}

.footer__title {
  color: #21232D;
  text-align: center;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 767px) {
  .footer__title {
    font-size: calc(24px + 20.4* ((100vw - 320px) / 1235));
  }
}

@media (min-width: 767px) {
  .footer__title {
    font-size: calc(24px + 12 * (100vw / 1235));
  }
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-transform: translate(-10px, 0);
          transform: translate(-10px, 0);
}

.footer__item {
  position: relative;
}

.footer__item:first-child svg {
  left: 16px;
  top: 17px;
}

.footer__item svg {
  position: relative;
  top: 14px;
  left: 13px;
  z-index: 2;
}

.footer__item img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.footer__item img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
